.cart-container {
  padding: 5%;
  background-color: white;
  width: 300px;
  height: 100vh;
}

.cart-list {
  padding: 0px;
  list-style-type: none;
}
.cart-item {
  width: 100%;
  min-height: 100px;
  padding: 10px 0 0 0;
  display: block;
}
.cart-item-img {
  display: inline;
  width: 80px;
  height: 80px;
  float: left;
}

.cart-item-text {
  font-family: " Arial";
}
.cart-stats {
  color: #eb5757;
}
