#product-filter {
  background-color: white;
  width: 20%;
  height: 100%;
  float: left;
  margin: 0 5px 0 0;
}

.filter-input-search {
  margin: 0 5px 0 0;
  padding: 0 0 0 10px;
  width: 80%;
  height: 40px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(229, 229, 229);
  background-color: rgb(244, 244, 244);
}

.dropdown-menu {
  margin: 10px 0 0 0;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(241, 241, 241);
}

.dropdown-button {
  width: 100%;
  padding: 10px 10px;
  background-color: white;
}
.dropdown-button:hover {
  background-color: white;
}

.dropdown-checkbox {
  padding: 0 0 0 30px;
  display: none;
  width: stretch;
  background-color: white;
  color: #3e4042;
}
.dropdown-checkbox:hover {
  margin: 0 0 0 0;
  padding: 1px 29px;
  background-color: #f5f5f5;
}
