#product-list {
  background-color: white;
  width: 72%;
  height: 100%;
  overflow: scroll;
  float: left;
}
#product-list::-webkit-scrollbar {
  width: 0.5em;
}

.product-list-item {
  padding: 0px;
  float: left;
  max-width: 205px;
  min-height: 280px;
  margin: 0 0 0 5px;
  background-color: white;
  position: relative;
}

.product-list-item:hover {
  background-color: #f7f7f7;
}
