body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Remove color of a visited or unvisited text where link ref applys */
a {
  color: initial; /* or 'initial' or any other color value you want to apply */
}
a:visited {
  color: inherit; /* or 'initial' or any other color value you want to apply */
}

#theme-header {
  background-color: white;
  width: 100vw;
  color: black;
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 30px 0;
}

#account-menu {
  margin: 0 20px 0 0;
  float: right;
}

#main-menu {
  color: rgb(81, 80, 80);
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 50px;
  text-align: center;
}

.menu-button {
  margin: 0 30px;
  width: 120px;
  height: 100%;
}

#theme-body {
  background-color: white;
  height: 90vh;
  /* height: fit-content; */
  width: 100vw;
  max-width: 1300px;
  padding: 11px;
}

#theme-footer {
  background-color: #f9f5f3;
  /* height: 10vh; */
  width: 100vw;
  color: black;
  text-align: center;
  font-weight: 5;
  font-size: small;
  margin: 10px 0 0 0;
  padding: 0 0 20px 0;
}

#product-filter {
  background-color: white;
  width: 28%;
  height: 100%;
  float: left;
}

.filter-input-search {
  margin: 5px;
  padding: 0 0 0 10px;
  width: 90%;
  height: 40px;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(229, 229, 229);
  background-color: rgb(244, 244, 244);
}

.dropdown-menu {
  margin: 10px 0 0 0;
  width: 100%;
  background-color: white;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgb(241, 241, 241);
}

.dropdown-button {
  width: 100%;
  padding: 10px 10px;
  background-color: white;
}
.dropdown-button:hover {
  background-color: white;
}
.dropdown-checkbox {
  padding: 0 0 0 30px;
  display: none;
  width: stretch;
  background-color: white;
  color: #3e4042;
}
.dropdown-checkbox:hover {
  margin: 0 0 0 0;
  padding: 1px 20px;
  background-color: rgb(238, 238, 238);
}

#product-list {
  background-color: white;
  width: 72%;
  height: 100%;
  overflow: scroll;
  float: left;
}
#product-list::-webkit-scrollbar {
  width: 0.5em;
}

.product-list-item {
  padding: 5px;
  float: left;
  max-width: 205px;
  min-height: 280px;
  margin: 5px;
  padding: 0;
  background-color: white;
  position: relative;
}
