body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#theme-header {
  background-color: black;
  height: 10vh;
  width: 100vw;
  color: white;
}

#theme-body {
  background-color: whitesmoke;
  height: 80vh;
  width: 100vw;
}

#theme-footer {
  background-color: black;
  height: 10vh;
  width: 100vw;
  color: white;
}